<!DOCTYPE html>
<html>

<head>
    <title>Typewriters</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <h1>Example with 'v-if' and 'v-else'</h1>

    <p>Try changing the 'typewritersInStock' value in the Vue instance from 'true' to 'false' and run the code again.
    </p>

    <div id="app">
        <p v-if="typewritersInStock>0">
            In Stock
        </p>
        <p v-else>
            Out of Stock
        </p>
        <p v-if="text.includes('vue')">

            {{text}}
            
        </p>
        <p v-else>The word 'vue' is not found in the text</p>

    </div>


    <script src="app.js"></script>

</body>

</html>